h1 {
    color: white;
    font-size: 16px;
    background-color: gray;
    text-align: center;
}

.texto {
    color: red;
}

.italico {
    font-style: italic;
}

span {
    color: blue;
    font-weight: bold;
}