body {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

h1 {
    font-size: 30px;
    color: darkblue;
}

h2 {
    font-size: 24px;
    background-color: lightskyblue;
    color: darkblue;
}

.text-center {
    text-align: center;
}


a, a:visited, h1:hover a, h2:hover a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: white;
}

h2 a {
    color: lightskyblue
}
